@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

#principal {
  display: flex;
}

#perfil {
  background-color: #ff9e54;
  width: 32rem;
  height: 160rem;
  justify-content: center;
  padding-top: 2rem;
}

#apresentacao {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#ft_principal {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
}

.nome_principal {
  font-weight: bold;
  font-size: 2rem;
}

.texto_comum {
  font-size: 1rem;
}

.texto_btn {
  font-size: 1rem;
  font-weight: bold;
}

.bt_posts {
  width: 16rem;
  height: 2rem;
  border-radius: 2rem;
  border: none;
  background-color: #f33f3d;
}

.bt_posts:hover {
  color: #ff9e54;
  cursor: pointer;
}

#ft_leitor {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
}

.bt_perfil {
  padding-top: 1rem;
}

#area_leitores {
  padding-top: 1.5rem;
  padding-left: 2.5rem;
}

#perfil_leitores {
  width: 16rem;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nome_leitores {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
}

.status_leitores {
  font-size: 16px;
  padding-left: 1rem;
}

.area_botao_expandir {
  padding-top: 2rem;
}

.bt_expandir {
  width: 8rem;
  height: 2rem;
  border-radius: 2rem;
  border: none;
  display: table;
  margin: 0 auto;
  background-color: #f33f3d;
}

.bt_expandir:hover {
  cursor: pointer;
}

.seta_expandir {
  padding-left: 0.6rem;
  width: 1rem;
}

/* Navbar */

#navbar {
  background-color: #f6f6f6;
  width: 56rem;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#logo {
  height: 4rem;
}

/*html {
  font-size: 62.5%;
}*/

#btn_pesquisa {
  width: 1.5rem;
  height: 1.5rem;
}

#pesquisa_box {
  border: solid 0.06rem;
  border-radius: 3rem;
  width: 24rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 0.6rem;
}

#txt_pesquisa {
  background-color: transparent;
  border: none;
  outline: 0;
  font-size: 1.25rem;
  padding-left: 1.25rem;
}

#area_ola {
  border: solid 0.06rem;
  width: 9rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 3rem;
  padding-top: 0.35rem;
}

#ft_ola {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 2.5rem;
}

.txt_area_ola {
  padding-left: 0.6rem;
}

/* Posts do Pos Login */

#area_bt_filtrar {
  display: flex;
  justify-content: flex-end;
}

.bt_filtrar {
  width: 8rem;
  height: 2rem;
  border-radius: 2rem;
  border: solid 0.06rem;
  background-color: #f6f6f6;
}

.bt_filtrar:hover {
  cursor: pointer;
}

#posts_receitas {
  background-color: #f6f6f6;
  width: 56rem;
  height: 149rem;
  padding: 64px;
}

#post_especifico {
  display: table;
  margin: 0 auto;
  padding-top: 5rem;
}

.titulo_post {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.img_post {
  width: 46rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.informacoes_post {
  background-color: #edf1f4;
  width: 46rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.autor_post {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.descricao_post {
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.estrelas {
  display: flex;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.estrelas_img {
  width: 1.5rem;
}

/* footer */

footer {
  height: 15rem;
  background-color: #f33f3d;
  color: #edf1f4;
}

#tam_footer {
  height: 15rem;
}

#txt_footer {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding: 4rem;
}
