*{ /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color: #F7F7F7;
}
/*NAVBAR==========================================================================================================*/
header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    /*min-width: 151.0rem;*/
    min-height: 12.0rem;
    background-color: #FF9E54;
    filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}

.barra {
    border: 0.1rem solid;
    display: flex;
    background-color: #F7F7F7;
    border-radius: 4.8rem;
    border: 0.1rem solid;
    min-width: 54.4rem;
    min-height: 4.9rem;
    align-items: center;
    padding: 0rem 0rem 0rem 0.8rem;
}

.barra input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2.9rem;
    min-width: 46.5rem;
    background-color: #F7F7F7;
    padding-left: 2.8rem;
    border:none;
    outline: 0; /*Add a barrinha*/
}

.texto-input {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.3rem;
}

.botao-entrar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.7rem 3.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #BABABA;
    min-width: 14.2rem;
    min-height: 4.7rem;
}

.teste {
    flex: none;
    font-family: 'Nunito';
    width: 6.6rem;
    height: 3.3rem;
    font-size: 2.4rem;
    line-height: 3.3rem;
}